
@{
    ViewBag.Title = "changePassword";
}

<h2>ChangePassword</h2>
<div class="row" s>

    @using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post))

    {
        <div class="col-12">
            <label class="form-label">Old Password</label>
            <div class="input-group has-validation">
                @*<span class="input-group-text" id="inputGroupPrepend">user</span>*@
                <input type="password" name="oldpassword" class="form-control" id="yourUsername" required>
                <div class="invalid-feedback">Please enter your old password.</div>
            </div>
        </div>

        <div class="col-12">
            <label class="form-label">New Password</label>
            <input type="password" name="password" class="form-control" id="yourPassword" required>
            <div class="invalid-feedback">Please enter your new password!</div>
        </div>
        <div class="col-12">
            <label class="form-label">Re-enter New password</label>
            <input type="password" name="newpassword" class="form-control" id="yourPassword" required>
            <div class="invalid-feedback">Please re-enter your new password!</div>
        </div>

        <div class="col-12">
            <button class="btn btn-primary w-100" type="submit">Login</button>
        </div>
        <div class="col-12">
            @* <p class="small mb-0">Don't have account? <a href="pages-register.html">Create an account</a></p>*@
        </div>
    }

</div>